.menu {
  padding: 5px;
  box-shadow: 5px 0 5px var(--gray-pizarra);
}

.menu__logo {
  margin-right: auto;
}

.menu__nav {
  display: flex;
  gap: 5px;
}

.menu__list {
  list-style: none;
}
