.menu {
  padding: 5px;
  box-shadow: 5px 0 5px var(--gray-pizarra);
}

.menu__logo {
  margin-right: auto;
}

.menu__nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu__list {
  list-style: none;
  margin-right: 20px;
}

.menu__item {
  cursor: pointer;
  position: relative;
}

/* subt menu */

.menu__sub-list {
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  background-color: var(--blue-cobalto);
  position: absolute;
  right: 0%;
}
