.chat {
  width: 100%;
  height: 100%;
  background-color: var(--alabaster);
  position: relative;
  overflow-y: auto;
}

.chat__send-message {
  width: 60%;
  margin: auto;
  background-color: var(--purple);
  position: sticky;
  top: 88%;
}

.send-message {
  width: 100%;
  background-color: transparent;
}
