/* .chatList {
  flex: 1;
  overflow-y: auto;
  .search {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .searchBar {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    flex: 1;
    display: flex;
    align-items: center;
    gap: 18px;

    input {
      color: white;
      border: 0;
      background: transparent;
      flex: 1;
      outline: none;
    }
  }

  .add {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
  }

  .item {
    padding: 20px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
} */

.list-chat {
  width: 100%;
  background-color: pink;
}

.list-chat__list {
  background-color: var(--purple);
  display: flex;
  column-gap: 5px;
}

.list-chat__user {
  padding: 5px;
  display: inline-block;
}
