.search {
  width: 100%;
}

.search__input {
  padding: 8px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.search__button {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
