* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(128, 128, 128, 0.377);
  display: flex;
}
