* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  /* colors */
  --white: #ffffff;
  --black: #000;
  --blue-cobalto: #0f67b1;
  --gray-pizarra: #3f4e4f;
  --pink-fucsia: #e90074;
  --purple: #240750;
}

body {
  color: white;
  background-color: black;
}
