* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  color: white;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(128, 128, 128, 0.377);
  display: flex;
}
