.layout-list-chat {
  height: calc(100vh - 50px);
  background-color: #2d3250;
  display: flex;
}

.layout-list-chat__list-chat {
  max-width: 320px;
  height: 100%;
  background-color: var(--white);
  overflow: auto;
}

.layout-list-chat__box {
  height: 100%;
  flex-grow: 1;
}

.layout-list-chat__list-chat::-webkit-scrollbar {
  width: 10px;
}

.layout-list-chat__list-chat::-webkit-scrollbar-track {
  background-color: var(--alabaster);
}

.layout-list-chat__list-chat::-webkit-scrollbar-thumb {
  background-color: var(--gray-pizarra);
}
