.message {
  width: 50%;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 2px var(--gray-pizarra);
  background-color: var(--white);
}

.message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

/* ...... message and useranem ..... */
.message__box {
  background-color: var(--blue-cobalto);
}

.message__username {
  margin-bottom: 5px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.message__message {
  font-size: 15px;
  line-height: 15px;
}

/* ..... bottom message ...... */

.message__about {
  display: flex;
}

.message__time {
  color: var(--gray-pizarra);
  background: transparent;
}

.message__icon-status {
  margin-left: auto;
  font-size: 19px;
  color: var(--gray-pizarra);
}
