.message {
  max-width: 50%;
  padding: 5px;
  border: none;
  border-radius: 15px;
}

.message--author {
  float: right;
}

.message__avatar {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.message__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

/* ...... message and useranem ..... */
.message__box {
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: var(--blue-cobalto);
}

.message__username {
  margin-bottom: 5px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.message__message {
  text-wrap: wrap;
  word-break: keep-all;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
}

/* ..... bottom message ...... */

.message__about {
  display: flex;
}

.message__time {
  color: var(--gray-pizarra);
  background: transparent;
}

.message__icon-status {
  margin-left: auto;
  font-size: 19px;
  color: var(--gray-pizarra);
  cursor: initial;
}

.message__icon-status--read {
  color: var(--blue-cobalto);
}

/* .... style of menssage if message is user current ... */

.message--author .message__box {
  text-align: end;
}

.message--author .message__avatar {
  margin-left: auto;
}

.message--author .message__about {
  flex-direction: row-reverse;
}

.message--author .message__icon-status {
  margin-left: 0;
}
